@charset "UTF-8";
@media screen and (max-width:480px){

    *{
      padding: 0;
      margin: 0;
       
    }
    body{
    
        height: 100vh;
    }
    main{
        background-color:rgb(243, 236, 236);
        width: 100%;
        height: 100%;
        border-radius: 10px;
       
        margin: auto;
      
    }
    
    
    header{
        background-image: url(images/bg-main-mobile.png) ;
        background-repeat: repeat-x;
        background-image: contain;
    
        height: 300px;
        position: relative;          /* referência para o posicionamento interno */
        overflow: hidden;       /* impede que o conteúdo saia do header */

      
      
    
       
    }
    header img{
        width: 280px;
        position: absolute;
      
        top:35%;
        left: 17%;
        transform: translateY(-50%);
     
    }
    header .cardfront{
        position: absolute;
      
        top:64%;
        left: 4%;
        transform: translateY(-50%);

    }
    form{
        margin-top: 30px;
      
        
      
     
       
    }
    .inline{
        display: inline-block;
    }
  
    form label{
        margin-left: 20px;
        font-size: 0.7em;
    display: block;
    padding-top: 10PX;
    padding-bottom: 8px;
        
      
    }
    form input{
        display: block;
        margin-left: 20px;
        padding: 10px;
        margin-bottom: 4PX;
        width: 100%;
       width: 340px;
       
    }
  .expiry-date input{
  
    display: inline-flex;
    width: 30px;
     margin-right: -20px;
  }
  .expiry-date .cvc{
    width: 100%;
    width: 213px;
  
  }
  


    button{
       
        display: block;
        margin: auto;
        width: 100%;
        width: 340px;
      
        padding: 20px;
        margin-top: 30px;
        
        background-color: rgb(41, 3, 41);
        color: white;
        border-radius: 10px;
        
      
      
    }
    
 
    
}
